.app {
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img,
svg {
  max-width: 200%;
  display: block;
}

body {
  overflow-x: hidden;
  background-color: #f1f3f5;
}

a {
  text-decoration: none;
  color: #ffffffe8;
  font-size: 15px;
  background: none;
  cursor: pointer;

  &:hover {
    color: #3882f6;
  }
}

.navbar {
  width: 100vw;
  height: 80px;
  padding: 8px;
  background-color: #1f2937;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px;
}

.nav__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.nav__logo {
  color: #fff;
  cursor: pointer;
}

button {
  color: white;
  background-color: #1f2937;
  border: 1px solid #ffffffe8;
  width: 100px;
  height: 30px;
  text-align: center;
  padding: 4px;
  font-size: 14px;
  border-radius: 6px;
  cursor: pointer;

  &:hover {
    border-color: #3882f6;
  }
}

.login {
  position: relative;
  max-width: 85%;
  height: 150%;
  display: flex;
  margin: 20px auto;
}

.login img {
  border-radius: 10px;
}

.formContainer {
  border-right: 1px solid #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  top: 0;
  right: 0;
  width: 47%;
  height: 100%;
  background-color: #fff; /* overlay */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.formContainer p {
  text-align: left;
}

.login form {
  width: 92%;
  height: 95%;
  padding: 10px;
  border-radius: 5px;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
}

.login input {
  width: 100%;
  height: 50px;
  border: 1px solid #f1f3f5;
  margin-bottom: 10px;
  padding: 8px;

  &::placeholder {
    padding: 8px;
  }
}

.loginForm__action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  width: 100%;
  margin-bottom: 10px;
}

.loginSuccess {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-bottom: 10px;
}

.loginSuccess button {
  height: 40px;
  font-size: 13px;
  width: 120px;
}

.forgot {
  cursor: pointer;
  text-align: left;
}

.form__bottomtxt {
  margin-top: 50px;
}

.form__bottomtxt small {
  text-align: left;
}

.signUp {
  color: #3882f6;
  cursor: pointer;
  text-align: left;
}

.hero {
  position: relative;
}

.blog__header,
.resources__header,
.header__card {
  background-color: transparent;
  border: none;
  text-align: left;
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 14px;
  padding: 10px;
  margin: 20px auto;
  border: none;
}

.header__card p,
.blog__header p,
.resources__header p {
  font-size: 17px;
}

.header__card {
  top: 12%;
  left: 2%;
  width: 50vw;
  height: 30vh;
}

.blog__header,
.resources__header {
  top: 30%;
  left: 2%;
  width: 70vw;
  height: 30vh;
}

.slick-next::before {
  font-size: 35px !important;
  opacity: 0.8 !important;
  position: absolute !important;
  margin-top: -110px;
  margin-right: 30px;
  padding: 10px;
  right: 50%;
}

.story__link {
  color: #3882f6;
  cursor: pointer;
}

.story {
  color: #1f2937;
  max-width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding: 25px;
}

.card__wrapper {
  width: 95%;
  height: 90%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.card {
  border: 1px solid #fff;
  box-shadow: #000;
  width: 350px;
  height: 300px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  border-radius: 10px;
  background-color: #fff;
}

.more {
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  background-color: rgba(31, 41, 55, 0.868);
}

.more {
  color: #fff;
}

.more__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta {
  max-width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.cta button {
  width: 180px;
  height: 40px;
  font-size: 17px;

  &:hover {
    background-color: #fff;
    border-color: #1f2937;

    color: #000;
  }
}

.features div {
  color: #1f2937;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.features p {
  font-size: 18px;
}

.footer {
  background-color: #1f2937;
  color: #fff;
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.footer__middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.contact__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.footer small {
  font-size: 12px;
}

.thanks {
  text-align: left;
  cursor: pointer;
}

.copyright small {
  cursor: pointer;
}

.blog,
.resources {
  overflow-y: hidden;
}

.notFound h1 {
  margin-bottom: 20px;
  margin-top: 40px;
}
